<ion-header>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Agendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <form ng-submit="submit()" class="form-horizontal" novalidate>        
    <ion-list>
        <ion-col>
           <ion-label>Profissional</ion-label>
          <ion-select placeholder="Selecione">
            <ion-select-option value="Alesson">Alesson</ion-select-option>
            <ion-select-option value="Klemerson">Klemerson</ion-select-option>
          </ion-select>
        </ion-col>
        <br>        
        <ion-col>
          <ion-label>Serviço</ion-label>
          <ion-select placeholder="Selecione">
            <ion-select-option value="Cabelo">Cabelo</ion-select-option>
            <ion-select-option value="CabeBar">Cabelo + Barba</ion-select-option>
            <ion-select-option value="Barba">Barba</ion-select-option>
            <ion-select-option value="CabeGil">Cabelo Giletado</ion-select-option>
          </ion-select>
        </ion-col>
        <br>
        <ion-col>
            <ion-label>Atendimento</ion-label>
            <ion-select placeholder="Selecione">
              <ion-select-option value="Domicilio">Domicilio</ion-select-option>
              <ion-select-option value="Estabelecimento">Estabelecimento</ion-select-option>
            </ion-select>
          </ion-col>
          <br>
          <ion-item>
              <ion-label>Data</ion-label>
              <ion-label position="floating"></ion-label>
              <ion-input type="date" ng-model="data"></ion-input>
          </ion-item>
          <br>
          <ion-item>
              <ion-label>Hora</ion-label>
              <ion-label position="floating"></ion-label>
              <ion-input type="time" ng-model="Hora"></ion-input>
          </ion-item>
          <br>
          <div id="botao">
              <ion-button >Agendar</ion-button><br>
              <ion-button href="">Sair</ion-button><br><br>
          </div>
      </ion-list>
  </form>
</div>
</ion-content>
