             .container {
                 width: 100vw;
                 display: flex;
                 flex-direction: row;
                 justify-content: center;
                 align-items: center
             }
            
             body {
                margin: 0px;
         }
        #botao{ text-align: center }
        #imagem { text-align: center }
         